@model eHal.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}






<div class="index-search">
    <form method="post">
        <div class="index-search-section">
            <h2>Arama Yapın</h2>
            <div class="ui action input">
                <select name="selectedFilters" id="selectedFilters" class="ui fluid search dropdown" multiple="">
                    <option value="">"çilek, biber veya sarmısak vb."</option>
                    @foreach (var item in Model.productTypes.ToList())
                    {
                        <option value=@item.Id>@item.ProductTypeName</option>
                    }
                </select>
                <button class="ui button" type="submit">Ara!</button>
                <button class="ui button" href="Details/Index" >Tüm İlanlar</button>
            </div>
        </div>
    </form>
</div>

<div class="site-info">

    <div class="ui statistics" id="hpstats">
        <div class="statistic">
            <div class="value">
                @Model.listingNo
            </div>
            <div class="label">
                ADET İLAN
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                HALLERDEKİ<br>
                TÜM
            </div>
            <div class="label">
                çeşitler
            </div>
        </div>

        <div class="statistic">
            <div class="value">
                @Model.sellerNo
                <img src="~/Content/default-avatar.jpg" class="ui circular inline image">

            </div>
            <div class="label">
                adet üretici
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                @Model.listingTon
            </div>
            <div class="label">
                ton toplam satılık ürün
            </div>
        </div>
    </div>


</div>

<script type='text/javascript'>

    $(document).ready(function () {
        $(function () {
            $('#selectedFilters').dropdown();

        });
    });





</script>

